body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1{
    padding-top: 1%;
    font-size: 70px;
}
h3{
    font-size: 30px;
}
.span-orange{
    color: orange;
    font-size: 80px;
}
section{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
}
.half-width img{
    width: 80%; 
    padding-top: 5%;
}
.first-img img{
    padding-left: 20%;
}
.second-img img{
    padding-right: 20%;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange,orangered);
    
    
    padding: 10px 40px;
    border-radius: 5px;
}

p{
    padding-bottom: 3%;
}